
@model eStore.ViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "EditOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>User Order detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrderDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.OrderId" />
            <div class="form-group">
                <label asp-for="Order.MemberId" class="control-label"></label>
                <input asp-for="Order.MemberId" class="form-control" />
                <span asp-validation-for="Order.MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.RequireDate" class="control-label"></label>
                <input asp-for="Order.RequireDate" class="form-control" />
                <span asp-validation-for="Order.RequireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippedDate" class="control-label"></label>
                <input asp-for="Order.ShippedDate" class="form-control" />
                <span asp-validation-for="Order.ShippedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Freight" class="control-label"></label>
                <input asp-for="Order.Freight" class="form-control" />
                <span asp-validation-for="Order.Freight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Status" class="control-label"></label>
                <input asp-for="Order.Status" class="form-control" />
                <span asp-validation-for="Order.Status" class="text-danger"></span>
            </div>      
            
            <div class="form-group">
                <input type="hidden" asp-for="OrderDetail.OrderDetailId" class="form-control" />
                <span asp-validation-for="OrderDetail.OrderDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderDetail.OrderId" class="form-control" />
                <span asp-validation-for="OrderDetail.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.ProductId" class="control-label"></label>
                <input asp-for="OrderDetail.ProductId" class="form-control" />
                <span asp-validation-for="OrderDetail.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.UnitPrice" class="control-label"></label>
                <input asp-for="OrderDetail.UnitPrice" class="form-control" />
                <span asp-validation-for="OrderDetail.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Quantity" class="control-label"></label>
                <input asp-for="OrderDetail.Quantity" class="form-control" />
                <span asp-validation-for="OrderDetail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Discount" class="control-label"></label>
                <input asp-for="OrderDetail.Discount" class="form-control" />
                <span asp-validation-for="OrderDetail.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderDetail.Status" class="form-control" />
                <span asp-validation-for="OrderDetail.Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="OrderHistory">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
