@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Menu/Layout/_MenuLayout.cshtml";
}

<section id="aboutUs">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>Who we are?</h2>
            <p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
        </div>
        <div class="row feature design">
            <div class="area1 columns right">
                <h3>labitur scsstie percipitoleat fabulas.</h3>
                <p>
                    Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                    Nec et jority have suffered alteration.
                </p>
                <p>
                    Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                    Nec et amet vidisse mentitumsstie percipitoleat fabulas.
                </p>
            </div>
            <div class="area2 columns feature-media left"> <img src="../menu/images/feature-img-1.png" alt="" width="100%"> </div>
        </div>
        <div class="row dataTxt">
            <div class="col-md-8 col-sm-6">
                <h4>Our Services</h4>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea.</p>
                <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea.</p>

                <br>
            </div>

            <div class="col-md-4 col-sm-6">

                <h4>Our Menu</h4>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                <ul class="listArrow">
                    <li>Lorem ipsum dolor consectetursit amet, consectet</li>
                    <li>Has molestie percipit an. Falli volumus efficiantur</li>
                    <li>Falli volumus efficiantur sed id, ad vel noster</li>
                    <li>Lorem ipsum dolor consectetursit amet, consectetur</li>
                    <li>Ius ut etiam vivendo, graeci iudicabit constitutoa</li>
                </ul>
            </div>


        </div>
    </div>
</section>

<section id="services" class="page-section colord">
    <div class="container">
        <div class="row">
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"><img src="../menu/images/1.png" alt="" /></i>
                <h3>Breakfast</h3>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"> <img src="../menu/images/2.png" alt="" /></i>
                <h3>Lunch</h3>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet congue.</p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"> <img src="../menu/images/3.png" alt="" /></i>
                <h3>Buffet</h3>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit impe.</p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"> <img src="../menu/images/4.png" alt="" /></i>
                <h3>Party</h3>
                <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer elit imperdiet conempus.</p>
            </div>
            <!-- end:-->
        </div>
    </div>
    <!--/.container-->
</section>

<section id="team" class="page-section">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>Our Chef's</h2>
            <p>At variations of passages of Lorem Ipsum available, but the majority have suffered alteration..</p>
        </div>
        <!-- Team Member's Details -->
        <div class="team-content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="../menu/images/photo-1.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>John Doe</h4>
                        <!-- Designation -->
                        <span class="pos">Manager</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="../menu/images/photo-2.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Larry Doe</h4>
                        <!-- Designation -->
                        <span class="pos">Senior Chef</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a>  </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="../menu/images/photo-3.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Ranith Kays</h4>
                        <!-- Designation -->
                        <span class="pos">Senior Chef</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="../menu/images/photo-4.jpg" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Joan Ray</h4>
                        <!-- Designation -->
                        <span class="pos">Chef</span>
                        <div class="team-socials"> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>